<!DOCTYPE html>
<html>
  <head>
    <title>Scrumboard</title>
  </head>
  <body>

    <% if (!user) { %>
      <p>
      <a href="/">Home</a> |
      <a href="/auth/google">Login with Google</a>
      </p>
    <% } else { %>
      <p>
      <a href="/">Home</a> |
      <a href="/account">Account</a> |
      <a href="/logout">Log Out</a>
      </p>
    <% } %>

    <%- body %>

    <div id="root"></div>
    <script src="./static/bundle.js"></script>
  </body>
</html>
